#blog-archives article {
  padding: 1em 0 1em;
  position: relative;
  background: 0 bottom left repeat-x; }
  #blog-archives article:last-child {
    background: none; }
  #blog-archives article footer {
    padding: 0;
    margin: 0; }
#blog-archives h1 {
  margin-bottom: 0.3em; }
#blog-archives h2 {
  display: none; }
#blog-archives h1 {
  font-size: 1.5em; }
  #blog-archives h1 a {
    color: inherit;
    font-weight: normal;
    display: inline-block; }
#blog-archives .entry-content {
  display: none; }
#blog-archives time {
  font-size: .9em;
  line-height: 1.2em; }
  #blog-archives time .month, #blog-archives time .day {
    display: inline-block; }
  #blog-archives time .month {
    text-transform: uppercase; }
#blog-archives p {
  margin-bottom: 1em; }
@media only screen and (min-width: 550px) {
  #blog-archives article {
    margin-left: 5em; }
  #blog-archives h2 {
    margin-bottom: .3em;
    font-weight: normal;
    display: inline-block;
    position: relative;
    top: -1px;
    padding-top: 0.2em;
    float: left; }
    #blog-archives h2:not(:first-child) {
      border-top: 1px dotted lightgray; }
  #blog-archives time {
    position: absolute;
    text-align: right;
    left: 1em;
    top: 1.8em; }
  #blog-archives .year {
    display: none; }
  #blog-archives article {
    padding-left: 5.5em;
    padding-bottom: .7em;
    border-bottom: 1px dotted lightgray; }
  #blog-archives a.category {
    line-height: 1.1em; } }

#content > .category article {
  margin-left: 0;
  padding-left: 6.8em; }
#content > .category .year {
  display: inline; }
